Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <!-- Root element -->
  <xs:element name="Hotels">
    <xs:complexType>
      <xs:sequence>
        <!-- zero or more Hotel entries -->
        <xs:element name="Hotel" maxOccurs="unbounded" use="required">
          <xs:complexType>
            <xs:sequence>
              <!-- exactly one Name -->
              <xs:element name="Name" type="xs:string" use="required"/>
              <!-- one or more Phone -->
              <xs:element name="Phone" type="xs:string" maxOccurs="unbounded" use="required"/>
              <!-- exactly one Address, now with nearestAirport attribute -->
              <xs:element name="Address" use="required">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Number" type="xs:integer" use="required"/>
                    <xs:element name="Street" type="xs:string" use="required"/>
                    <xs:element name="City"   type="xs:string" use="required"/>
                    <xs:element name="State"  type="xs:string" use="required"/>
                    <xs:element name="Zip"    type="xs:string" use="required"/>
                  </xs:sequence>
                  <xs:attribute name="nearestAirport"
                                type="xs:string"
                                use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="rating"
                          type="xs:decimal"
                          use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
